@import 'https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css';

body {
	margin:0;
	padding: 0;
	font-family:arial,sans-serif;
	font-size: 13px;
	border-box: border-box;
	background: #fff;
	color: #545454;
	display: block;
}
#header{

	min-width: 1280px;
	min-height: 720px;
	position: relative;
}

.menu {
    font-size: 13px;
    margin: 18px 18px 0 2px;
    text-decoration: none;
    color: rgb(34, 34, 34);
}

nav{
	position: absolute;
	z-index: 2;
	right:20px;
	overflow: hidden;
	padding-top: 20px;
	padding-left: 20px;
}
header nav img {
	height: 30px;
}
header nav a {
	text-decoration: none;
	padding: 0 8px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	margin: auto;
}
#content {
	width: 100%;
	height: 100%;
	min-width: 1280px;
	min-height: 720px;
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

img#google {

display:block;
margin: 0 auto;
padding-bottom: 10px;
}
#container_button {
text-align: center;
	padding-top: 18px;
}

.button {
	color: #757575;
	background: #f2f2f2;
	font-weight: bold;
	padding: 0 16px;
	margin: 11px 4px;
	text-align: center;
	line-height: 27px;
	height: 36px;
	border: 1px solid #f2f2f2;
	border-radius: 2px;
}
#content p {
	text-align: center;

}
 p {
	line-height: 28px;
}
 p a {
	text-decoration: none;
	color: #1a0dab;
	padding: 0 3px;
}

 p a:hover {
	text-decoration:underline;
	color: #1a0dab;
}
.text:hover {
	text-decoration:underline;
	color: #222;
}
.button:hover {
border: 1px solid #757575;
color: #222;
}

.zad1-MainNavigation-button.mdc-button.mdc-button--unelevated {
    margin: 8px;
    background-color: rgb(244, 244, 244);
    color: rgb(108, 110, 110);
    text-transform: initial;
    font-family: arial, sans-serif;
    letter-spacing: normal;
		position: relative;
}

.zad1-MainNavigation-button.mdc-button.mdc-button--unelevated:hover {
    border: 1px rgb(108, 110, 110) solid;
    color: black;
}

.fa-search {
    margin-left: 15px;
    margin-right: 5px;
    color: rgb(82, 143, 245);
		position: absolute;
		left: 8px;
		padding: 8px;
		top: 7px;
}

.fa-microphone {
		color: rgb(66, 133, 244);
		position: absolute;
		right: 19px;
		top: 6px;
		padding: 8px;
		font-size: 16px;
}
.fa-keyboard {
		color: rgb(123, 123, 123);
		position: absolute;
		right: 55px;
		top: 6px;
		padding: 8px;
		font-size: 16px;
}

.g-search {
	position: relative;
	display: flex;
	font-family: arial,sans-serif;
	padding: 0;
	margin: 0 5px 4px 5px;
	background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: #c0c0c0;
  width: 568px;
  height: 45px;
  white-space: nowrap;
	border-radius: 30px;
}

.g-search input {
	outline: none;
  display: flex;
  position: relative;
	white-space: nowrap;
	color: #222;
	font-size: small;
	border: none;
  padding-left: 0px;
	padding-right: 85px;
  margin: 0;
  width: 400px;
  height: 45px;
  z-index:6;
  left: 50px;
  background: transparent;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  font: 16px arial,sans-serif;
  line-height: 1.2em;
  box-sizing: border-box;
}
